In [1]:
from sklearn.cluster import AgglomerativeClustering
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics

In [2]:
data = pd.read_csv("zoo.csv")
data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [5]:
unique_classtypes = np.unique(data["class_type"].values)

In [10]:
agglo = AgglomerativeClustering(n_clusters=4)
predicted_values = agglo.fit_predict(data.iloc[:, 1:16])

In [11]:
print("Accuracy Score")
print(metrics.accuracy_score(predicted_values, data["class_type"].values))

Accuracy Score
0.0297029702970297

In [13]:
print("Mean Squared Error value")
print(metrics.mean_squared_error(predicted_values, data["class_type"].values))

Mean Squared Error value
7.198019801980198